* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  .container {
    max-width: 1352px;
    margin: auto;

    @media screen and (max-width: 1352px) {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }
  }
  body {
    font-family: $main-font;
  }

  @mixin tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }