footer {
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.footer-title {
  color: $body-bg;
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}

.footer-top {
  background-color: #595858;
  padding: 40px 0;
}

.footer-top .footer-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-top .footer-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 60px;
}

.footer-top .card {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  align-items: center;
  justify-content: center;

  p {
    color: $body-bg;
    padding: 15px;
    padding-bottom: 40px;
  }
}

.footer-top .card img {
  width: 60px;
  margin-bottom: 15px;
}

.footer-middle {
  background-color: #fff;
  padding: 50px 0;
}

.footer-middle-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-start;
}

.footer-info-columns {
  display: flex;
  gap: 150px;
  padding: 0 10px;
}

.footer-column h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-column a {
  display: block;
  margin-bottom: 8px;
  color: #555;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer-contact {
  max-width: 500px;
}

.footer-contact h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-contact p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}

.contact-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  > section {
    flex: 0 0 40%;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    > div {
      flex: 0 0 100%;
    }
  }

  .contact-info {
    padding: 20px 0;
  }
}

@media (max-width: 900px) {
  .footer-middle-wrapper {
    flex-direction: column;
  }

  .footer-info-columns {
    flex-direction: column;
  }

  .footer-contact {
    max-width: 100%;
  }
}

.copyright {
  text-align: center;
  margin: 40px 0;
  color: #00000059;
}
