.about-us-banner {
  position: relative;
  background-image: url("/src/assets/images/banner-2.jpg");
  background-size: cover;
  background-position: center;
  height: 554px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
  }

  h1,
  span {
    position: relative;
    z-index: 2;
  }

  h1 {
    color: #ffff;
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0;
  }

  span {
    color: #e9e9ed;
    font-size: 17px;
  }
}

.about-us-icons {
  padding: 60px 0;

  .icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .icon-item {
    @include icon-box;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    max-width: 220px;
  }
}

.boxes-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  .box {
    display: flex;
    align-items: center;
    gap: 10px;

    .text-col {
      padding: 30px;

      h3 {
        font-size: 40px;
        margin-bottom: 16px;
        font-weight: 700;
      }

      p {
        margin: 30px 0;
        line-height: 0;
        font-size: 15px;
      }

      p:last-of-type {
        margin-bottom: 70px;
      }
    }

    .image-col {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

.team {
  text-align: center;

  .team-title {
    margin-bottom: 50px;
    position: relative;
    font-weight: 900;
    font-size: 49px;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
      width: 540px;
      height: 2px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }

  .team-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  h5,
  p {
    padding: 30px 0 10px;
  }

  h5 {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
  }

  p {
    font-size: 17px;
  }
}
