.contact_banner {
  background-image: url("/src/assets/images/contact-banner.jpg");
}

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}

.contact-pic {
  height: 700px;
}
