$main-font: "Montserrat", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.45;
$body-bg: #ffffff;
$body-color: #000000;
$line-color: #727174;
$accent-color: #B92770;
//breakpoints
$bp-sm: 768px;
$bp-md: 1024px;
$bp-lg: 1440px;